<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cd.rentdooapp">




    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        android:allowBackup="true"
        android:icon="@mipmap/rentdoo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/RentDoo_Theme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RentDoo_Theme" />
        <activity
            android:name=".activities.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RoommateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TenantCalendarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TenantBillsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TenantChoresActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.TenantNoticesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.UserEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EditChosenUserActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>